body{
    background-color: rgba(0, 125, 255, 0.900);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-align: center;
}

header{
    color: white;
}

section{
    background-color: white;

    width: 350px;
    /*height: 250px; Não colocar height deixa a altura dinâmica! (cresce dinamicamente)*/

    /*line-height: ;*/

    margin: auto;
    padding: 20px;

    border-radius: 15px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.500);

    line-height: 15px;
    
}

footer{
    color: white;
}

div#dados{
    /*line-height: ;*/

}

div#res{
    /*line-height: ;*/

}